.footer {
    justify-content: center;
    align-content: center;
    padding: 10px 5px 5px;
}

.notice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 25px;

    h4 {
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 640px - 1px) {
    .notice-container {
        justify-content: space-around;
    }
}
