footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 0 40px 0;
    color: rgba(255, 255, 255, 0.7);

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: auto;
        margin-right: auto;
        max-width: 50rem;
        padding: 20px;
    }

    a {
        color: #ddd;
        margin: 10px;

        &:hover {
            color: #fff;
        }
    }

    .copyright {
        text-align: right;
    }
}