header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;

    a {
        color: #757575;
        transition: color 0.2s ease;
        text-decoration: none;

        &:hover {
            color: inherit;
        }
    }
}

ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
        text-transform: uppercase;
        font-size: 1.3rem;

        & + li {
            margin-left: 2rem;
        }
    }
}
