header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    background: hsla(0, 0%, 100%, 0.75);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    height: 70px;

    a {
        text-decoration: none;
        color: #3c4856;
        font-size: 1.1rem;
    }

    nav a {
        color: #757575;
        transition: color 0.2s ease;
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-family: Roboto, sans-serif;
        font-size: 14px;

        &:hover {
            color: inherit;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            height: 1em;
            width: 100%;
            border-bottom: 2px solid #4f647d;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
        }

        &:hover::after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        strong {
            margin: 1px;
            color: #4f647d;
            font-size: 0.8rem;
        }
    }
}

ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
        font-size: 1.3rem;

        & + li {
            margin-left: 2rem;
        }
    }
}

@media (max-width: 1000px) {
    header {
        display: block;
        height: 140px;
    }
}

@media (max-width: 720px) {
    header {
        strong {
            display: none;
        }
    }
}

@media (max-width: 520px) {
    header nav a {
        font-size: 13px;
    }
}
