.article-list {
    display: grid;
    grid-template-columns: 50% 50%;

    .article-box {
        margin-bottom: 30px;
        display: inline-block;
        width: auto;
        transition: all 0.25s ease;

        &:hover {
            cursor: pointer;
        }

        .right {
            padding: 15px;
            color: #3c4856;
            margin-top: -20px;

            .meta {
                margin-top: -15px;
                margin-bottom: 20px;
                font-size: 0.7rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .article-list {
        grid-template-columns: 100%;
    }
}