* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    color: #3c4856;
    font-family: "Merriweather", "Georgia", serif;
    font-weight: 400;
    background: #fafbfb;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
li {
    font-size: 1rem;
}
p {
    line-height: 1.5em;
    font-size: 1rem;
}
h3 {
    margin-bottom: 2rem;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
    line-height: 1.1;
}
