* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    color: hsla(0, 0, 0, 0.9);
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 400;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding: 2.625rem 1.3125rem;
}

h3 {
    margin-bottom: 2rem;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
    line-height: 1.1;
}